/*! mit diesem Style wird das DropDown menü mit dem Hover ausgeklapt */
.dropdown:hover>.dropdown-menu {
    display: block;
}


/*! Jumbotron betrift die Datenschutzerklärung */
.jumbotron {
    text-align: justify;
    color: black;
}

input:hover {
    
}